.chat {
  display: flex;
  flex-flow: column;

  position: relative;
}

.chat form {
  display: flex;
  align-items: center;
  gap: 8px;
}

.chat button {
  padding: 6px 20px;
  font-size: 1.125rem;
  height: 100%;
}

.chat ul {
  font-size: 1.25rem;

  position: absolute;
  bottom: 48px;

  max-height: 100px;
  width: 100%;

  overflow: auto;
}

.chat form label {
  flex: 1;
}
