.modal-foreground {
  display: grid;
  place-items: center;

  position: fixed;
  inset: 0;

  background-color: rgba(0, 0, 0, 0.3);

  z-index: 999;
}

.modal-content {
  display: flex;
  flex-flow: column;
  align-items: center;
  gap: 16px;

  border-radius: 4px;

  padding: 32px;

  background: white;
}
