.lobby {
  display: flex;
  flex-flow: column;
  align-items: center;
  align-self: center;
  justify-content: center;
  gap: 16px;

  margin: auto;

  max-width: 424px;
  width: 100%;
  height: 100%;
}

.lobby > *:not(.modal-foreground) {
  width: 100%;

  text-align: center;
}
