* {
  padding: 0;
  margin: 0;
  text-decoration: none;
  list-style: none;
  box-sizing: border-box;
}

html,
body,
main,
#application {
  height: 100%;
}

main {
  display: flex;
  flex-flow: column;

  padding: 16px;
}

body {
  color: #303030;
  background-color: #fff;
  font-family: 'Gemunu Libre', sans-serif;
}

h1 {
  color: #303030;
  font-size: 3rem;
  font-weight: 700;
}

h2 {
  font-size: 2.625rem;
  font-weight: 400;
}

.column {
  display: flex;
  flex-flow: column;
}

.gap-32 {
  gap: 32px;
}

.gap-24 {
  gap: 24px;
}
